<h1 class="flexcol flex-group-center">Skills</h1>
  <div class="flex-group-center">
    <h3>Basic Skill Checks</h3> 
      <div class="flexrow ">
        <div class="flexcol basic_skills_1">
      {{#each system.skills.basic as |skill key|}}          
        {{!This is a weird one, but this creates a second col of skills when it hits grapple(the last item in the first col)}}
        {{#if (eq skill.name "Hold") }}
        </div>
        <div class="flexcol basic_skills_2">
        {{/if}}
        <li class="flexrow">
          <!--Images for Primary and Supporting stats-->
          <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/spew/{{skill.primary}}.png" height="16" width="16"/>
          <img class="item sheet-image-no-border flex0 sheet-image-skill-supporting" src="systems/outbreakundead2e/assets/icons/spew/{{skill.supporting}}.png" height="16" width="16" />
          <!--Advancement-->
          <!--TODO: Change this, so the number changes into an image??-->
          <label class="flex0" for="system.skills.basic.{{key}}.advancement"></label>
          <input class="flex0" type="text" name="system.skills.basic.{{key}}.advancement" value="{{skill.advancement}}" data-dtype="Number" />
          <!--Name-->
          <div class="flexrow">
            <div class="flex0">{</div>
            <div bold="true">{{skill.name}}</div>
            <div class="flex0">%}</div>
          </div>
          <!--Advancement Bonus-->
          <label class="flex0" for="system.skills.basic.{{key}}.bonus"></label>
          <input class="flex0" type="text" name="system.skills.basic.{{key}}.bonus" readonly value="{{skill.bonus}}" data-dtype="String" />
          <!--Skill Check % Total-->
          <label class="flex0" for="system.skills.basic.{{key}}.base"></label>
          <input type="text" name="system.skills.basic.{{key}}.base" readonly value="{% {{skill.base}} }" data-dtype="String" />
        </li>
      {{/each}}
        </div>
      </div>
    <h3>Trained Skill Checks</h3>
      <div class="flexrow">
        <div class="flexcol trained_skills_1">
      {{#each system.skills.trained as |skill key|}}
        {{#if (eq skill.name "Long G.")}}
        </div>
        <div class="flexcol trained_skills_2">
        {{/if}}
      <li class="flexrow">
        <!--Images for Primary and Supporting stats-->
          <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/spew/{{skill.primary}}.png" height="16" width="16"/>
          <img class="item sheet-image-no-border flex0 sheet-image-skill-supporting" src="systems/outbreakundead2e/assets/icons/spew/{{skill.supporting}}.png" height="16" width="16" />
          <!--Advancement-->
          <!--TODO: Change this, so the number changes into an image??-->
          <label class="flex0" for="system.skills.basic.{{key}}.advancement"></label>
          <input class="flex0" type="text" name="system.skills.basic.{{key}}.advancement" value="{{skill.advancement}}" data-dtype="Number" />
          <!--Name-->
          <div class="flexrow">
            <div class="flex0">{</div>
            <div bold="true">{{skill.name}}</div>
            <div class="flex0">%}</div>
          </div>
          <!--Advancement Bonus-->
          <label class="flex0" for="system.skills.basic.{{key}}.bonus"></label>
          <input class="flex0" type="text" name="system.skills.basic.{{key}}.bonus" readonly value="{{skill.bonus}}" data-dtype="String" />
          <!--Skill Check % Total-->
          <label class="flex0" for="system.skills.basic.{{key}}.base"></label>
          <input type="text" name="system.skills.basic.{{key}}.base" readonly value="{% {{skill.base}} }" data-dtype="String" />
      </li>
      {{/each}}    
        </div>
      </div>
    <h3>Expert Skill Checks</h3>
          <div class="flexrow">
        <div class="flexcol expert_skills_1">
      {{#each system.skills.expert as |skill key|}}
        {{#if (eq skill.name "Ride")}}
        </div>
        <div class="flexcol trained_skills_2">
        {{/if}}
      <li class="flexrow">
        <!--Images for Primary and Supporting stats-->
          <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/spew/{{skill.primary}}.png" height="16" width="16"/>
          <img class="item sheet-image-no-border flex0 sheet-image-skill-supporting" src="systems/outbreakundead2e/assets/icons/spew/{{skill.supporting}}.png" height="16" width="16" />
          <!--Advancement-->
          <!--TODO: Change this, so the number changes into an image??-->
          <label class="flex0" for="system.skills.basic.{{key}}.advancement"></label>
          <input class="flex0" type="text" name="system.skills.basic.{{key}}.advancement" value="{{skill.advancement}}" data-dtype="Number" />
          <!--Name-->
          <div class="flexrow">
            <div class="flex0">{</div>
            <div bold="true">{{skill.name}}</div>
            <div class="flex0">%}</div>
          </div>
          <!--Advancement Bonus-->
          <label class="flex0" for="system.skills.basic.{{key}}.bonus"></label>
          <input class="flex0" type="text" name="system.skills.basic.{{key}}.bonus" readonly value="{{skill.bonus}}" data-dtype="String" />
          <!--Skill Check % Total-->
          <label class="flex0" for="system.skills.basic.{{key}}.base"></label>
          <input type="text" name="system.skills.basic.{{key}}.base" readonly value="{% {{skill.base}} }" data-dtype="String" />
      </li>
      {{/each}}    
        </div>
      </div>
  </div>


<!--
<ol class="items-list">
  {{#each skills as |skill skill_level|}}
    <li class="item flexrow items-header">
      <div class="item-name">Level {{skill_level}} Skills</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create item" data-type="skill" data-skill-level="{{skill_level}}"><i class="fas fa-plus"></i> Add LVL {{skill_level}}</a>
      </div>
    </li>
    {{#each skills as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-name flexrow">
          <div class="item-image">
            <a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>
          </div>
          <h4>{{item.name}}</h4>
        </div>
        <div class="item-controls">
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  {{/each}}
</ol>
-->