<div class="flexrow flex-group-center">
  <div class="flexrow">
    <!--Skill Points-->
    {{#unless (eq system.level_of_play "arcade")}}
    <li class="flexrow skill_points">
      <label for="system.survival_points" class="resource-label">Survival Points</label>
      <div class="flexrow sheet-box-border">
        <div class="sheet-image-in-box">
          <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/survival_points.png"/>
        </div>
        <input type="text" class="sheet-input-no-border flex2" name="system.survival_points" value="{{system.survival_points}}" data-dtype="Number"/>
      </div>
    </li>
    <!--Gestalt Level-->
    <li class="flexrow gestalt_level">
      <label for="system.gestalt_level" class="resource-label">Gestalt Level</label>
      <div class="flexrow sheet-box-border">
        <div class="sheet-image-in-box">
          <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gestalt_level.png"/>
        </div>
        <input type="text" class="sheet-input-no-border flex2" name="system.gestalt_level" value="{{system.gestalt_level}}" data-dtype="Number"/>
      </div>
    </li>
    {{/unless}}
    <!--Competence Points-->
    <li class="flexrow competence_points">
      <label for="system.competence_points" class="resource-label">Competence Points</label>
      <div class="flexrow sheet-box-border">
        <input type="text" class="sheet-input-no-border flex1" name="system.competence_points" value="{{system.competence_points}}" data-dtype="Number"/>
      </div>
    </li>
  </div>
</div>
 <!--<div class="resources flexrow">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.survival_points" class="resource-label">Survival Points</label>
            <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/survival_points.png" height="16" width="16"/>
            <input type="text" name="system.survival_points" value="{{system.survival_points}}" data-dtype="Number"/>
          </div>

        <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.gestalt_level" class="resource-label">Gestalt Level</label>
            <input type="text" name="system.gestalt_level" value="{{system.gestalt_level}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.competence_points" class="resource-label">Competence Points</label>
            <input type="text" name="system.competence_points" value="{{system.competence_points}}" data-dtype="Number"/>
          </div>
        </div>
      </div>-->