<h1 class="flex-group-center">Vitality</h1>
<div class="vitality flexcol">
    <!--Injuries and Damage Threshold-->
    <div class="flexrow flex-group-center">
        {{> "systems/outbreakundead2e/templates/actor/parts/actor-injuries.hbs"}}
        {{> "systems/outbreakundead2e/templates/actor/parts/actor-damage-threshold.hbs"}}
    </div>
    <div class="flexrow flex-group-center">
        <!--Viral-->
        <div class="flexcol">
            <h3>Viral</h3>
            <!--Viral Points-->
            <div class="viral_points">
                <!--TODO: Make this a checkbox system. Idk how to do this yet, so I am just leaving this as a number box-->
                <label for="system.viral_points"></label>
                <input type="text" name="system.viral_points" value="{{system.viral_points}}" data-dtype="Number" />
            </div>
            <!--Symptoms-->
            <h3>Symptoms</h3>
            <div class="flexcol">
                {{#each system.symptoms as |symptom key|}}
                    <label for="system.symptoms.{{key}}"></label>
                    <input type="next" name="system.symptoms.{{key}}" class="sheet-line-input" value="{{symptom}}" data-dtype="String" />
                {{/each}}
            </div>
        </div>

        <!--Psyche-->
        <div class="flexcol">
            <h3>Psyche</h3>
            <!--Morale-->
            <li class="flexrow flex-group-center">
                <div class="flexrow">
                    <div>Morale</div> 
                    <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/morale.png" height="16" width="16"/>
                </div>
                <div class="flex-col flex-group-center">
                    <label for="system.morale.spew">Wb + Eb</label>
                    <input type="text" name="system.morale.spew" class="sheet-box-border" readonly value="{{system.morale.spew}}"></input>
                </div>
                <div>+</div>
                <div class="flex-col flex-group-center">
                    <label for="system.morale.bonus">Bonus</label>
                    <input type="text" name="system.morale.bonus" class="sheet-box-border" readonly value="{{system.morale.bonus}}"></input>
                </div>
                <div>=</div>
                <div class="flex-col flex-group-center">
                    <label for="system.morale.total">Total</label>
                    <input type="text" name="system.morale.total" class="sheet-box-border" readonly value="{{system.morale.total}}"></input>
                </div>
            </li>
            <!--Coping Mechanisms-->
            <div class="flexcol">
                <h3>Coping Mechanisms</h3>
                {{#each system.coping_mechanisms as |coping_mechanism key|}}
                    <label for="system.coping_mechanisms.{{key}}"></label>
                    <input type="next" name="system.coping_mechanisms.{{key}}" class="sheet-line-input" value="{{coping_mechanism}}" data-dtype="String" />
                {{/each}}
            </div>
        </div>

    </div>

</div>
