<div class="flexcol flex-group-center">
    <h1>Traning Value Bonus</h1>
    <h4>The Primary Attribute Bonus of the Skill Check used is the base Training Value</h4>
    <!--Red Icons-->
    <div class="grid grid-2col">
        <!--Archery Gear-->
        <div class="flexcol">
            <span class="resource-label">Archery Gear</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/archery_gear.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.per.mod" data-label="{{system.spew.per.label}}">{{numberFormat system.spew.per.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--Long Gun-->
        <div class="flexcol">
            <span class="resource-label">Long Gun</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/long_guns.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.per.mod" data-label="{{system.spew.per.label}}">{{numberFormat system.spew.per.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--Bludgeon-->
        <div class="flexcol">
            <span class="resource-label">Bludgeon</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/bludgeoning.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.str.mod" data-label="{{system.spew.str.label}}">{{numberFormat system.spew.str.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--Pistol-->
        <div class="flexcol">
            <span class="resource-label">Pistol</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/pistols.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.per.mod" data-label="{{system.spew.per.label}}">{{numberFormat system.spew.per.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--Piercing-->
        <div class="flexcol">
            <span class="resource-label">Piercing</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/piercing.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.str.mod" data-label="{{system.spew.str.label}}">{{numberFormat system.spew.str.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--Throwing-->
        <div class="flexcol">
            <span class="resource-label">Throwing</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/thrown_weapons.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.per.mod" data-label="{{system.spew.per.label}}">{{numberFormat system.spew.per.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--Slashing-->
        <div class="flexcol">
            <span class="resource-label">Slashing</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/slashing.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.str.mod" data-label="{{system.spew.str.label}}">{{numberFormat system.spew.str.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--Martial Arts-->
       <div class="flexcol">
            <span class="resource-label">Martial Arts</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/martial_arts.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.str.mod" data-label="{{system.spew.str.label}}">{{numberFormat system.spew.str.mod decimals=0 sign=true}}</span>
            </li>
        </div>


    </div>
    <!--Green Icons-->
    <div class="grid grid-3col">
        <!--Athletic Gear-->
        <div class="flexcol">
            <span class="resource-label">Athletic Gear</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/athletic_gear.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.str.mod" data-label="{{system.spew.str.label}}">{{numberFormat system.spew.str.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--First Aid Kits-->
        <div class="flexcol">
            <span class="resource-label">First Aid Kits</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/first_aid_kit.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.per.mod" data-label="{{system.spew.per.label}}">{{numberFormat system.spew.per.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--Swimming/Diving-->
        <div class="flexcol">
            <span class="resource-label">Swimming/Diving</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/diving_gear.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.str.mod" data-label="{{system.spew.str.label}}">{{numberFormat system.spew.str.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--Climbing Gear-->
        <div class="flexcol">
            <span class="resource-label">Climbing Gear</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/climbing_gear.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.str.mod" data-label="{{system.spew.str.label}}">{{numberFormat system.spew.str.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--Medical Gear-->
        <div class="flexcol">
            <span class="resource-label">Medical Gear</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/medical_supplies.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.per.mod" data-label="{{system.spew.per.label}}">{{numberFormat system.spew.per.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--Tools-->
        <div class="flexcol">
            <span class="resource-label">Tools</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/tools.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.per.mod" data-label="{{system.spew.per.label}}">{{numberFormat system.spew.per.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--Command App.-->
        <div class="flexcol">
            <span class="resource-label">Command App.</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/command_apparatus.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.emp.mod" data-label="{{system.spew.emp.label}}">{{numberFormat system.spew.emp.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--Recon. Gear-->
        <div class="flexcol">
            <span class="resource-label">Recon. Gear</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/recon_gear.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.per.mod" data-label="{{system.spew.per.label}}">{{numberFormat system.spew.per.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--Value-->
        <div class="flexcol">
            <span class="resource-label">Value</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/value.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.emp.mod" data-label="{{system.spew.emp.label}}">{{numberFormat system.spew.emp.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--Firefighting-->
        <div class="flexcol">
            <span class="resource-label">Firefighting</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/firefighter_gear.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.str.mod" data-label="{{system.spew.str.label}}">{{numberFormat system.spew.str.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--Survival Kit-->
        <div class="flexcol">
            <span class="resource-label">Survival Gear</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/survival_gear.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.per.mod" data-label="{{system.spew.per.label}}">{{numberFormat system.spew.per.mod decimals=0 sign=true}}</span>
            </li>
        </div>
        <!--Vehicles-->
        <div class="flexcol">
            <span class="resource-label">Vehicles</span>
            <li class="flexrow">
                <img class="item sheet-image-no-border flex0" src="systems/outbreakundead2e/assets/icons/gear/vehical_riding.png" height="48" width="48"/>
                <!--TODO: Add training to this-->
                <!--TODO: Give an option for Ride(emp)-->
                <span class="sheet-gear-bonus rollable item sheet-box-border flex1" data-roll="d100+@spew.per.mod" data-label="{{system.spew.per.label}}">{{numberFormat system.spew.per.mod decimals=0 sign=true}}</span>
            </li>
        </div>
    </div>
</div>