<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      
      <!-- SPEW Attributes-->  
      <div class="abilities grid grid-4col">  
          {{#each system.abilities as |ability key|}}
          <div class="flexcol flex-group-center">
            <img class="item sheet-image-no-border" src="systems/outbreakundead2e/assets/icons/spew/{{ability.label}}.png" height="56" />
            <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d100+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{ability.label}}</label>
            <div class="flexrow">
              <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <div class="ability-mod rollable item sheet-box-border" data-roll="d100+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</div>
            </div>
          </div>
          {{/each}}
      </div>  

      <!--Survival Points, Gestalt Level, and Competence Points-->
      <div class="resources grid grid-3col grid-border">
        <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.survival_points" class="resource-label">Survival Points</label>
            <input type="text" name="system.survival_points" value="{{system.survival_points}}" data-dtype="Number"/>
            <!--<input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>-->
          </div>
        </div>

        <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.gestalt_level" class="resource-label">Gestalt Level</label>
            <input type="text" name="system.gestalt_level" value="{{system.gestalt_level}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.competence_points" class="resource-label">Competence Points</label>
            <input type="text" name="system.competence_points" value="{{system.competence_points}}" data-dtype="Number"/>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="vitality">Vitality</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/outbreakundead2e/templates/actor/parts/actor-skills.hbs"}}
    </div>

    {{!-- Vitality Tab --}}
    <div class="tab vitality" data-group="primary" data-tab="vitality">
       {{> "systems/outbreakundead2e/templates/actor/parts/actor-vitality.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/outbreakundead2e/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/outbreakundead2e/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/outbreakundead2e/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

