<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="flexcol flex1 flex-group-center">
      <!--Profile Image-->
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128"/>
      <!--Level of Play Dropdown-->
      <!--TODO: Add a way to change this and have it save-->
      <!--TODO: Make this effect what shows up on the character sheet-->
      <select name="system.level_of_play" id="level_of_play" class="level-of-play-select flex1" data-type="String">
        {{#select system.level_of_play}}
        <option value="arcade" class="sheet-arcade-highlight">Arcade</option>
        <option value="weekend_warrior" class="sheet-weekend-warrior-highlight">Weekend Warrior</option>
        <option value="survivalist" class="sheet-survivalist-highlight">Survivalist</option>
        {{/select}}
      </select>
    </div>
    <div class="header-fields flex3">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <!-- SPEW Attributes-->  
      <div class="flexrow flex2">
        <div class="flexcol">
          <h4 class="resource-label sheet-gear-bonus flex-group-center">S.P.E.W. Attributes</h4>
          <div class="abilities flexrow">  
            {{#each system.abilities as |ability key|}}
              <div class="flexcol flex-group-center">
                <img class="item sheet-image-no-border" src="systems/outbreakundead2e/assets/icons/spew/{{ability.label}}.png" height="56" />
                <label for="system.abilities.{{key}}.value" class="spew-name rollable resource-label flexlarge align-left" data-label="{{key}}">{{ability.label}}</label>
                <div class="flexrow">
                  <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                  <div class="ability-mod rollable item sheet-box-border" data-roll="d100+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</div>
                </div>
              </div>
            {{/each}}
          </div>  
        {{> "systems/outbreakundead2e/templates/actor/parts/actor-survival-gestalt-compitence.hbs"}}
        </div>
      </div>
    </div>
  </header>
  
  <!--Survival Points, Gestalt Level, and Competence Points-->

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    {{#unless (eq system.level_of_play "arcade")}}
    <a class="item" data-tab="skills">Skills</a>
    {{/unless}}
    <a class="item" data-tab="vitality">Vitality</a>
    <a class="item" data-tab="training">Training</a>
    <a class="item" data-tab="triggered_effects">Triggered Effects</a>
    <a class="item" data-tab="character_traits">Character Traits</a>
    <a class="item" data-tab="equipment">Equipment</a>
    <!--<a class="item" data-tab="spells">Spells</a>-->
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/outbreakundead2e/templates/actor/parts/actor-skills.hbs"}}
    </div>

    {{!-- Vitality Tab --}}
    <div class="tab vitality" data-group="primary" data-tab="vitality">
       {{> "systems/outbreakundead2e/templates/actor/parts/actor-vitality.hbs"}}
    </div>

    {{!-- Training Tab --}}
    <div class="tab training" data-group="primary" data-tab="training">
       {{> "systems/outbreakundead2e/templates/actor/parts/actor-training.hbs"}}
    </div>

    {{!-- Triggerted Effects Tab --}}
    <div class="tab triggered_effects" data-group="primary" data-tab="triggered_effects">
       {{> "systems/outbreakundead2e/templates/actor/parts/actor-triggered-effects.hbs"}}
    </div>

    {{!-- Character Traits Tab --}}
    <div class="tab character_traits" data-group="primary" data-tab="character_traits">
       {{> "systems/outbreakundead2e/templates/actor/parts/actor-character-traits.hbs"}}
    </div>

    {{!-- Equipment Tab --}}
    <div class="tab items" data-group="primary" data-tab="equipment">
       {{> "systems/outbreakundead2e/templates/actor/parts/actor-equipment.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/outbreakundead2e/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Effects and Traits Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/outbreakundead2e/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

